{% extends 'base.html'%}

<body>
    {% block nav %}
    <title>Contato</title>
    <div class="nbm">
        <img class="nbm-pic" src="../static/img/natalia.png" alt="nbm">
        <ul class="navbar">
                <li>    
                    <a href="/"><H5 class="title5">HOME</H5></a>
                    <a href="/projetos"><H5 class="title5">PROJETOS</H5></a>
                    
                </li>
        </ul>
    </div>
    {% endblock %}
    {% block conteudo %}
    <div class="profile box">
        
            <h1 class="title"><u> Contatos</u></h1>
                 
    
        <ul class="redes-sociais">
            
            <li>
                <a href="#"> <img src="../static/img/whats.png" alt="whats">12 99999-9999</a>
                               
            </li>
            <li>
                <a href="#"> <img src="../static/img/email.png" alt="email"> email@email.com</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/natalia-bessa-59b671220/"> <img src="../static/img/linkedin.png" alt="linkedin"> </a>
            </li>
        </ul>


    </div>
    
</body>
{% endblock %}
</html>