
{% extends 'base.html'%}
{% block conteudo %}
<body>
    <title>Home</title>
           <div class="profile box">
            <img class="profile-pic" src="../static/img/WhatsApp Image 2021-09-17 at 12.10.42.jpeg" alt="profile">
            <h1 class="title">Natália Bessa de Moura</h1>
            <span>São José dos Campos, SP</span>
            <p>Estudante de Desenvolvimento de Multiplataformas</p>
            <ul class="lista">
                <li>
                    <a href="/projetos">Projetos</a>
                </li>
                
                <li>
                    <a href="/contato">Contatos</a>
                </li>
            </ul>



        </div>
</body>
{% endblock %}
</html>